* {
  scroll-behavior: smooth;
}

.expanding-nav-bar {
  height: 40px;
  transition: height 0.3s ease;
}

.expanding-nav-bar:hover {
  height: 60px;
}

.hidden-heading {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-link:hover .hidden-heading {
  opacity: 1; /* Show h2 when anchor is hovered */
}

.certificate {
  animation: fadeInBottom 0.3s ease-out;
}

.expand {
  animation: expand 0.3s ease forwards;
}

.shrink {
  animation: shrink 0.3s ease forwards;
}

.fade {
  animation: fadeIn 0.8 ease;
}

@keyframes shrink {
  from {
    height: 22rem; /* Equivalent to h-64 in Tailwind */
  }
  to {
    height: 0;
  }
}

@keyframes expand {
  from {
    height: 0;
  }
  to {
    height: 22rem; /* Equivalent to h-64 in Tailwind (64 * 0.25rem) */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
